{
  "general":{
    "recipient": "ash@thefoundry.co.uk",
    "subject": "This is a test, please remain calm."
  },
  "mailgun": {
    "api_key": "key-368cf7d7bc11f56b20fff98fdd28f40d",
    "sender": "mailgun@sandbox7456521d17704a7b8cb3d061f1bbc937.mailgun.org",
    "recipient": "ash@thefoundry.co.uk"
  },
  "mandrill": {
    "api_key": "h9xQWuC4BIabWxnkaJSOiw",
    "sender": "ash@thefoundry.co.uk"
  },
  "litmus": {
    "username": "LITMUS USERNAME",
    "password": "PASSWORD",
    "company": "YOUR COMAPNY"
  },
  "cloudfiles": {
    "user": "CLOUDFILES USERNAME",
    "key": "CLOUDFILES KEY",
    "region": "CLOUDFILES REGION E.G. ORD",
    "container": "CLOUDFILES CONTAINER NAME",
    "uri": "CLOUDFILES URI"
  },
  "s3": {
    "key": "AMAZON S3 KEY",
    "secret": "AMAZON S3 SECRET",
    "region": "AMAZON S3 REGION",
    "bucketname": "AMAZON S3 BUCKET NAME",
    "bucketdir": "AMAZON S3 BUCKET SUBDIRECTORY (optional)",
    "bucketuri": "AMAZON S3 PATH (ex: https://s3.amazonaws.com/)"
  }
}