<table class="button {{classes}} {{#is width "half"}}half{{/is}}{{#is width "quarter"}}quarter{{/is}}">
	<tr>
		<td class="{{>centerLogic}}">
    		<a href="{{link}}">{{description}}{{desc}}</a>
    	</td>
  	</tr>
</table>