/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles & Reset */
#outlook a {
  padding: 0;
}

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}

center {
  width: 100%;
  min-width: 580px;
}

a img {
  border: none;
}

p {
  margin: 0 0 0 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}

/* Responsive Grid */
table.body {
  height: 100%;
  width: 100%;
}

table.container {
  width: 580px;
  margin: 0 auto;
  text-align: inherit;
}

table.row {
  padding: 0px;
  width: 100%;
  position: relative;
}

table.container table.row {
  display: block;
}

td.wrapper {
  padding: 10px 20px 0px 0px;
  position: relative;
}

table.columns,
table.column {
  margin: 0 auto;
}

table.columns td,
table.column td {
  padding: 0px 0px 10px;
}

table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 10px;
}

td.sub-column, td.sub-columns {
  min-width: 0px;
}

table.row td.last,
table.container td.last {
  padding-right: 0px;
}

table.one {
  width: 30px;
}

table.two {
  width: 80px;
}

table.three {
  width: 130px;
}

table.four {
  width: 180px;
}

table.five {
  width: 230px;
}

table.six {
  width: 280px;
}

table.seven {
  width: 330px;
}

table.eight {
  width: 380px;
}

table.nine {
  width: 430px;
}

table.ten {
  width: 480px;
}

table.eleven {
  width: 530px;
}

table.twelve {
  width: 580px;
}

table.one center {
  min-width: 30px;
}

table.two center {
  min-width: 80px;
}

table.three center {
  min-width: 130px;
}

table.four center {
  min-width: 180px;
}

table.five center {
  min-width: 230px;
}

table.six center {
  min-width: 280px;
}

table.seven center {
  min-width: 330px;
}

table.eight center {
  min-width: 380px;
}

table.nine center {
  min-width: 430px;
}

table.ten center {
  min-width: 480px;
}

table.eleven center {
  min-width: 530px;
}

table.twelve center {
  min-width: 580px;
}

table.one .panel center {
  min-width: 10px;
}

table.two .panel center {
  min-width: 60px;
}

table.three .panel center {
  min-width: 110px;
}

table.four .panel center {
  min-width: 160px;
}

table.five .panel center {
  min-width: 210px;
}

table.six .panel center {
  min-width: 260px;
}

table.seven .panel center {
  min-width: 310px;
}

table.eight .panel center {
  min-width: 360px;
}

table.nine .panel center {
  min-width: 410px;
}

table.ten .panel center {
  min-width: 460px;
}

table.eleven .panel center {
  min-width: 510px;
}

table.twelve .panel center {
  min-width: 560px;
}

.body .columns td.one,
.body .column td.one {
  width: 8.333333%;
}

.body .columns td.two,
.body .column td.two {
  width: 16.666666%;
}

.body .columns td.three,
.body .column td.three {
  width: 25%;
}

.body .columns td.four,
.body .column td.four {
  width: 33.333333%;
}

.body .columns td.five,
.body .column td.five {
  width: 41.666666%;
}

.body .columns td.six,
.body .column td.six {
  width: 50%;
}

.body .columns td.seven,
.body .column td.seven {
  width: 58.333333%;
}

.body .columns td.eight,
.body .column td.eight {
  width: 66.666666%;
}

.body .columns td.nine,
.body .column td.nine {
  width: 75%;
}

.body .columns td.ten,
.body .column td.ten {
  width: 83.333333%;
}

.body .columns td.eleven,
.body .column td.eleven {
  width: 91.666666%;
}

.body .columns td.twelve,
.body .column td.twelve {
  width: 100%;
}

td.offset-by-one {
  padding-left: 50px;
}

td.offset-by-two {
  padding-left: 100px;
}

td.offset-by-three {
  padding-left: 150px;
}

td.offset-by-four {
  padding-left: 200px;
}

td.offset-by-five {
  padding-left: 250px;
}

td.offset-by-six {
  padding-left: 300px;
}

td.offset-by-seven {
  padding-left: 350px;
}

td.offset-by-eight {
  padding-left: 400px;
}

td.offset-by-nine {
  padding-left: 450px;
}

td.offset-by-ten {
  padding-left: 500px;
}

td.offset-by-eleven {
  padding-left: 550px;
}

td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}

table.columns .text-pad,
table.column .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: 10px;
}

table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: 10px;
}

/* Block Grid */
.block-grid {
  width: 100%;
  max-width: 580px;
}

.block-grid td {
  display: inline-block;
  padding: 10px;
}

.two-up td {
  width: 270px;
}

.three-up td {
  width: 173px;
}

.four-up td {
  width: 125px;
}

.five-up td {
  width: 96px;
}

.six-up td {
  width: 76px;
}

.seven-up td {
  width: 62px;
}

.eight-up td {
  width: 52px;
}

/* Alignment & Visibility Classes */
table.center, td.center {
  text-align: center;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
}

img.center {
  margin: 0 auto;
  float: none;
}

.show-for-small,
.hide-for-desktop {
  display: none;
}

/* Typography */
body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: #222222;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

body, table.body, p, td {
  font-size: 14px;
  line-height: 19px;
}

p.lead, p.lede, p.leed {
  font-size: 18px;
  line-height: 21px;
}

p {
  margin-bottom: 10px;
}

small {
  font-size: 10px;
}

a {
  color: #2ba6cb;
  text-decoration: none;
}

a:hover {
  color: #2795b6 !important;
}

a:active {
  color: #2795b6 !important;
}

a:visited {
  color: #2ba6cb !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #2ba6cb;
}

h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #2ba6cb !important;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #2ba6cb !important;
}

/* Panels */
.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important;
}

.sub-grid table {
  width: 100%;
}

.sub-grid td.sub-columns {
  padding-bottom: 0;
}

/* Buttons */
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: #2ba6cb;
  border: 1px solid #2284a1;
  color: #ffffff;
  padding: 8px 0;
}

table.tiny-button td {
  padding: 5px 0 4px;
}

table.small-button td {
  padding: 8px 0 7px;
}

table.medium-button td {
  padding: 12px 0 10px;
}

table.large-button td {
  padding: 21px 0 18px;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

table.small-button td a {
  font-size: 16px;
}

table.medium-button td a {
  font-size: 20px;
}

table.large-button td a {
  font-size: 24px;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #2795b6 !important;
}

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #fff !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #2795b6 !important;
}

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important;
}

table.secondary td {
  background: #e9e9e9;
  border-color: #d0d0d0;
  color: #555;
}

table.secondary td a {
  color: #555;
}

table.secondary:hover td {
  background: #d0d0d0 !important;
  color: #555;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #555 !important;
}

table.success td {
  background: #5da423;
  border-color: #457a1a;
}

table.success:hover td {
  background: #457a1a !important;
}

table.alert td {
  background: #c60f13;
  border-color: #970b0e;
}

table.alert:hover td {
  background: #970b0e !important;
}

table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* Outlook First */
body.outlook p {
  display: inline !important;
}

/*  Media Queries */
@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }

  table[class="body"] center {
    min-width: 0 !important;
  }

  table[class="body"] .container {
    width: 95% !important;
  }

  table[class="body"] .row {
    width: 100% !important;
    display: block !important;
  }

  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important;
  }

  table[class="body"] .columns,
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important;
  }

  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }

  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100% !important;
  }

  table[class="body"] .columns td.one,
  table[class="body"] .column td.one {
    width: 8.333333% !important;
  }

  table[class="body"] .columns td.two,
  table[class="body"] .column td.two {
    width: 16.666666% !important;
  }

  table[class="body"] .columns td.three,
  table[class="body"] .column td.three {
    width: 25% !important;
  }

  table[class="body"] .columns td.four,
  table[class="body"] .column td.four {
    width: 33.333333% !important;
  }

  table[class="body"] .columns td.five,
  table[class="body"] .column td.five {
    width: 41.666666% !important;
  }

  table[class="body"] .columns td.six,
  table[class="body"] .column td.six {
    width: 50% !important;
  }

  table[class="body"] .columns td.seven,
  table[class="body"] .column td.seven {
    width: 58.333333% !important;
  }

  table[class="body"] .columns td.eight,
  table[class="body"] .column td.eight {
    width: 66.666666% !important;
  }

  table[class="body"] .columns td.nine,
  table[class="body"] .column td.nine {
    width: 75% !important;
  }

  table[class="body"] .columns td.ten,
  table[class="body"] .column td.ten {
    width: 83.333333% !important;
  }

  table[class="body"] .columns td.eleven,
  table[class="body"] .column td.eleven {
    width: 91.666666% !important;
  }

  table[class="body"] .columns td.twelve,
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }

  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }

  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }

  table[class="body"] .right-text-pad,
  table[class="body"] .text-pad-right {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad,
  table[class="body"] .text-pad-left {
    padding-right: 10px !important;
  }

  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }

  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}
body, .body {
  font-family: 'helvetica',sans-serif;
  font-weight: 300 !important;
  color: #1E1E1E !important;
}

.container {
  background-color: white;
  background: white;
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}
h1, h2, h3, h4 {
  font-family: 'open sans Light',' helvetica', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
}

p, td {
  font-weight: 300;
  hyphens: none !important;
}
p a, td a {
  color: #22A4FC;
  font-weight: bold;
}

.intro, .intro-light {
  background: #666666 !important;
}
.intro tr, .intro-light tr, .intro td, .intro-light td, .intro p, .intro-light p, .intro h1, .intro-light h1, .intro h2, .intro-light h2, .intro h3, .intro-light h3, .intro h4, .intro-light h4 {
  color: #FFFFFF !important;
}
.intro td, .intro-light td {
  padding-top: 25px;
  padding-bottom: 25px;
}

.intro-light {
  background: #D0D0D0 !important;
}

.half {
  width: 50% !important;
}

.quarter {
  width: 25% !important;
}

@media only screen and (max-width: 600px) {
  .half {
    width: 100% !important;
  }

  .quarter {
    width: 100% !important;
  }
}
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: #666666;
  border: none !important;
  color: #ffffff;
  padding: 8px 0;
}

table.tiny-button td {
  padding: 5px 0 4px;
}

table.small-button td {
  padding: 8px 0 7px;
}

table.medium-button td {
  padding: 12px 0 10px;
}

table.large-button td {
  padding: 21px 0 18px;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

table.small-button td a {
  font-size: 16px;
}

table.medium-button td a {
  font-size: 20px;
}

table.large-button td a {
  font-size: 24px;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #D0D0D0 !important;
}

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #FFFFFF !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #2795b6 !important;
}

table.button-2 td {
  background: #D0D0D0;
  border-color: transparent;
  color: #1E1E1E;
  border: none;
}

table.button-2 td a {
  color: #FFFFFF;
}

table.button-2:hover td {
  background: #D0D0D0 !important;
  color: #1E1E1E;
}

table.button-2:hover td a,
table.button-2 td a:visited,
table.button-2:active td a {
  color: #FFFFFF !important;
}

.foundry {
  background: #F8B31A;
}
.foundry h1 {
  color: #F17E03;
}
.foundry h2 {
  color: #CC6305;
}
.foundry h3 {
  color: #AD5105;
}
.foundry table.colored td {
  background: #F17E03;
}
.foundry table.colored:hover td {
  background: #CC6305 !important;
  color: #FFFFFF;
}
.foundry table.colored-two:hover td a,
.foundry table.colored-two td a:visited,
.foundry table.colored-two:active td a {
  color: #FFFFFF !important;
}
.foundry table.colored-two td {
  background: #CC6305;
}
.foundry table.colored-two:hover td {
  background: #AD5105 !important;
  color: #FFFFFF;
}
.foundry table.colored-two:hover td a,
.foundry table.colored-two td a:visited,
.foundry table.colored-two:active td a {
  color: #FFFFFF !important;
}
.foundry table.colored-three:hover td a,
.foundry table.colored-three td a:visited,
.foundry table.colored-three:active td a {
  color: #FFFFFF !important;
}
.foundry table.colored-three td {
  background: #F8B31A;
}
.foundry table.colored-three:hover td {
  background: #F8B31A !important;
  color: #FFFFFF;
}
.foundry table.colored-three:hover td a,
.foundry table.colored-three td a:visited,
.foundry table.colored-three:active td a {
  color: #FFFFFF !important;
}
.foundry .footer {
  background: #F8B31A;
}
.foundry .intro-colored {
  background: #F17E03 !important;
}
.foundry .intro-colored table.button td,
.foundry .intro-colored table.button td a,
.foundry .intro-colored table.tiny-button td,
.foundry .intro-colored table.small-button td,
.foundry .intro-colored table.medium-button td,
.foundry .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #F17E03 !important;
  padding: 8px 0 !important;
}
.foundry .intro-colored table.colored-three:hover td a,
.foundry .intro-colored table.colored-three td a:visited,
.foundry .intro-colored table.colored-three:active td a {
  color: #F17E03 !important;
}
.foundry .intro-colored h1, .foundry .intro-colored h2, .foundry .intro-colored h3, .foundry .intro-colored h4 {
  color: #F8B31A !important;
}
.foundry .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modo {
  background: #3D7886;
}
.modo h1 {
  color: #00555D;
}
.modo h2 {
  color: #14616D;
}
.modo h3 {
  color: #296C7A;
}
.modo table.colored td {
  background: #00555D;
}
.modo table.colored:hover td {
  background: #14616D !important;
  color: #FFFFFF;
}
.modo table.colored-two:hover td a,
.modo table.colored-two td a:visited,
.modo table.colored-two:active td a {
  color: #FFFFFF !important;
}
.modo table.colored-two td {
  background: #14616D;
}
.modo table.colored-two:hover td {
  background: #296C7A !important;
  color: #FFFFFF;
}
.modo table.colored-two:hover td a,
.modo table.colored-two td a:visited,
.modo table.colored-two:active td a {
  color: #FFFFFF !important;
}
.modo table.colored-three:hover td a,
.modo table.colored-three td a:visited,
.modo table.colored-three:active td a {
  color: #FFFFFF !important;
}
.modo table.colored-three td {
  background: #3D7886;
}
.modo table.colored-three:hover td {
  background: #5499A7 !important;
  color: #FFFFFF;
}
.modo table.colored-three:hover td a,
.modo table.colored-three td a:visited,
.modo table.colored-three:active td a {
  color: #FFFFFF !important;
}
.modo .footer {
  background: #3D7886;
}
.modo .intro-colored {
  background: #00555D !important;
}
.modo .intro-colored table.button td,
.modo .intro-colored table.button td a,
.modo .intro-colored table.tiny-button td,
.modo .intro-colored table.small-button td,
.modo .intro-colored table.medium-button td,
.modo .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #00555D !important;
  padding: 8px 0 !important;
}
.modo .intro-colored table.colored-three:hover td a,
.modo .intro-colored table.colored-three td a:visited,
.modo .intro-colored table.colored-three:active td a {
  color: #00555D !important;
}
.modo .intro-colored h1, .modo .intro-colored h2, .modo .intro-colored h3, .modo .intro-colored h4 {
  color: #81DBEF !important;
}
.modo .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mari {
  background: #2D6999;
}
.mari h1 {
  color: #1B3F5C;
}
.mari h2 {
  color: #214D70;
}
.mari h3 {
  color: #275B85;
}
.mari table.colored td {
  background: #1B3F5C;
}
.mari table.colored:hover td {
  background: #214D70 !important;
  color: #FFFFFF;
}
.mari table.colored-two:hover td a,
.mari table.colored-two td a:visited,
.mari table.colored-two:active td a {
  color: #FFFFFF !important;
}
.mari table.colored-two td {
  background: #214D70;
}
.mari table.colored-two:hover td {
  background: #275B85 !important;
  color: #FFFFFF;
}
.mari table.colored-two:hover td a,
.mari table.colored-two td a:visited,
.mari table.colored-two:active td a {
  color: #FFFFFF !important;
}
.mari table.colored-three:hover td a,
.mari table.colored-three td a:visited,
.mari table.colored-three:active td a {
  color: #FFFFFF !important;
}
.mari table.colored-three td {
  background: #2D6999;
}
.mari table.colored-three:hover td {
  background: #4285BB !important;
  color: #FFFFFF;
}
.mari table.colored-three:hover td a,
.mari table.colored-three td a:visited,
.mari table.colored-three:active td a {
  color: #FFFFFF !important;
}
.mari .footer {
  background: #2D6999;
}
.mari .intro-colored {
  background: #1B3F5C !important;
}
.mari .intro-colored table.button td,
.mari .intro-colored table.button td a,
.mari .intro-colored table.tiny-button td,
.mari .intro-colored table.small-button td,
.mari .intro-colored table.medium-button td,
.mari .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #1B3F5C !important;
  padding: 8px 0 !important;
}
.mari .intro-colored table.colored-three:hover td a,
.mari .intro-colored table.colored-three td a:visited,
.mari .intro-colored table.colored-three:active td a {
  color: #1B3F5C !important;
}
.mari .intro-colored h1, .mari .intro-colored h2, .mari .intro-colored h3, .mari .intro-colored h4 {
  color: #68BEFF !important;
}
.mari .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nuke {
  background: #A1303D;
}
.nuke h1 {
  color: #7C252F;
}
.nuke h2 {
  color: #691F28;
}
.nuke h3 {
  color: #8E2A36;
}
.nuke table.colored td {
  background: #7C252F;
}
.nuke table.colored:hover td {
  background: #691F28 !important;
  color: #FFFFFF;
}
.nuke table.colored-two:hover td a,
.nuke table.colored-two td a:visited,
.nuke table.colored-two:active td a {
  color: #FFFFFF !important;
}
.nuke table.colored-two td {
  background: #691F28;
}
.nuke table.colored-two:hover td {
  background: #8E2A36 !important;
  color: #FFFFFF;
}
.nuke table.colored-two:hover td a,
.nuke table.colored-two td a:visited,
.nuke table.colored-two:active td a {
  color: #FFFFFF !important;
}
.nuke table.colored-three:hover td a,
.nuke table.colored-three td a:visited,
.nuke table.colored-three:active td a {
  color: #FFFFFF !important;
}
.nuke table.colored-three td {
  background: #A1303D;
}
.nuke table.colored-three:hover td {
  background: #BF4653 !important;
  color: #FFFFFF;
}
.nuke table.colored-three:hover td a,
.nuke table.colored-three td a:visited,
.nuke table.colored-three:active td a {
  color: #FFFFFF !important;
}
.nuke .footer {
  background: #A1303D;
}
.nuke .intro-colored {
  background: #7C252F !important;
}
.nuke .intro-colored table.button td,
.nuke .intro-colored table.button td a,
.nuke .intro-colored table.tiny-button td,
.nuke .intro-colored table.small-button td,
.nuke .intro-colored table.medium-button td,
.nuke .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #7C252F !important;
  padding: 8px 0 !important;
}
.nuke .intro-colored table.colored-three:hover td a,
.nuke .intro-colored table.colored-three td a:visited,
.nuke .intro-colored table.colored-three:active td a {
  color: #7C252F !important;
}
.nuke .intro-colored h1, .nuke .intro-colored h2, .nuke .intro-colored h3, .nuke .intro-colored h4 {
  color: #FF6C7A !important;
}
.nuke .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.colorway {
  background: #0DB3C6;
}
.colorway h1 {
  color: #1B5957;
}
.colorway h2 {
  color: #16777C;
}
.colorway h3 {
  color: #1295A1;
}
.colorway table.colored td {
  background: #1B5957;
}
.colorway table.colored:hover td {
  background: #16777C !important;
  color: #FFFFFF;
}
.colorway table.colored-two:hover td a,
.colorway table.colored-two td a:visited,
.colorway table.colored-two:active td a {
  color: #FFFFFF !important;
}
.colorway table.colored-two td {
  background: #16777C;
}
.colorway table.colored-two:hover td {
  background: #1295A1 !important;
  color: #FFFFFF;
}
.colorway table.colored-two:hover td a,
.colorway table.colored-two td a:visited,
.colorway table.colored-two:active td a {
  color: #FFFFFF !important;
}
.colorway table.colored-three:hover td a,
.colorway table.colored-three td a:visited,
.colorway table.colored-three:active td a {
  color: #FFFFFF !important;
}
.colorway table.colored-three td {
  background: #0DB3C6;
}
.colorway table.colored-three:hover td {
  background: #5FC9C6 !important;
  color: #FFFFFF;
}
.colorway table.colored-three:hover td a,
.colorway table.colored-three td a:visited,
.colorway table.colored-three:active td a {
  color: #FFFFFF !important;
}
.colorway .footer {
  background: #0DB3C6;
}
.colorway .intro-colored {
  background: #1B5957 !important;
}
.colorway .intro-colored table.button td,
.colorway .intro-colored table.button td a,
.colorway .intro-colored table.tiny-button td,
.colorway .intro-colored table.small-button td,
.colorway .intro-colored table.medium-button td,
.colorway .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #1B5957 !important;
  padding: 8px 0 !important;
}
.colorway .intro-colored table.colored-three:hover td a,
.colorway .intro-colored table.colored-three td a:visited,
.colorway .intro-colored table.colored-three:active td a {
  color: #1B5957 !important;
}
.colorway .intro-colored h1, .colorway .intro-colored h2, .colorway .intro-colored h3, .colorway .intro-colored h4 {
  color: #9AE5D7 !important;
}
.colorway .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hiero {
  background: #904460;
}
.hiero h1 {
  color: #632B41;
}
.hiero h2 {
  color: #4C1E31;
}
.hiero h3 {
  color: #793750;
}
.hiero table.colored td {
  background: #632B41;
}
.hiero table.colored:hover td {
  background: #4C1E31 !important;
  color: #FFFFFF;
}
.hiero table.colored-two:hover td a,
.hiero table.colored-two td a:visited,
.hiero table.colored-two:active td a {
  color: #FFFFFF !important;
}
.hiero table.colored-two td {
  background: #4C1E31;
}
.hiero table.colored-two:hover td {
  background: #793750 !important;
  color: #FFFFFF;
}
.hiero table.colored-two:hover td a,
.hiero table.colored-two td a:visited,
.hiero table.colored-two:active td a {
  color: #FFFFFF !important;
}
.hiero table.colored-three:hover td a,
.hiero table.colored-three td a:visited,
.hiero table.colored-three:active td a {
  color: #FFFFFF !important;
}
.hiero table.colored-three td {
  background: #904460;
}
.hiero table.colored-three:hover td {
  background: #AE5A7B !important;
  color: #FFFFFF;
}
.hiero table.colored-three:hover td a,
.hiero table.colored-three td a:visited,
.hiero table.colored-three:active td a {
  color: #FFFFFF !important;
}
.hiero .footer {
  background: #904460;
}
.hiero .intro-colored {
  background: #632B41 !important;
}
.hiero .intro-colored table.button td,
.hiero .intro-colored table.button td a,
.hiero .intro-colored table.tiny-button td,
.hiero .intro-colored table.small-button td,
.hiero .intro-colored table.medium-button td,
.hiero .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #632B41 !important;
  padding: 8px 0 !important;
}
.hiero .intro-colored table.colored-three:hover td a,
.hiero .intro-colored table.colored-three td a:visited,
.hiero .intro-colored table.colored-three:active td a {
  color: #632B41 !important;
}
.hiero .intro-colored h1, .hiero .intro-colored h2, .hiero .intro-colored h3, .hiero .intro-colored h4 {
  color: #F283AD !important;
}
.hiero .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.flix {
  background: #A12F84;
}
.flix h1 {
  color: #6C2059;
}
.flix h2 {
  color: #521842;
}
.flix h3 {
  color: #87276E;
}
.flix table.colored td {
  background: #6C2059;
}
.flix table.colored:hover td {
  background: #521842 !important;
  color: #FFFFFF;
}
.flix table.colored-two:hover td a,
.flix table.colored-two td a:visited,
.flix table.colored-two:active td a {
  color: #FFFFFF !important;
}
.flix table.colored-two td {
  background: #521842;
}
.flix table.colored-two:hover td {
  background: #87276E !important;
  color: #FFFFFF;
}
.flix table.colored-two:hover td a,
.flix table.colored-two td a:visited,
.flix table.colored-two:active td a {
  color: #FFFFFF !important;
}
.flix table.colored-three:hover td a,
.flix table.colored-three td a:visited,
.flix table.colored-three:active td a {
  color: #FFFFFF !important;
}
.flix table.colored-three td {
  background: #A12F84;
}
.flix table.colored-three:hover td {
  background: #C044A1 !important;
  color: #FFFFFF;
}
.flix table.colored-three:hover td a,
.flix table.colored-three td a:visited,
.flix table.colored-three:active td a {
  color: #FFFFFF !important;
}
.flix .footer {
  background: #A12F84;
}
.flix .intro-colored {
  background: #6C2059 !important;
}
.flix .intro-colored table.button td,
.flix .intro-colored table.button td a,
.flix .intro-colored table.tiny-button td,
.flix .intro-colored table.small-button td,
.flix .intro-colored table.medium-button td,
.flix .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #6C2059 !important;
  padding: 8px 0 !important;
}
.flix .intro-colored table.colored-three:hover td a,
.flix .intro-colored table.colored-three td a:visited,
.flix .intro-colored table.colored-three:active td a {
  color: #6C2059 !important;
}
.flix .intro-colored h1, .flix .intro-colored h2, .flix .intro-colored h3, .flix .intro-colored h4 {
  color: #FF6ADC !important;
}
.flix .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.katana {
  background: #37A350;
}
.katana h1 {
  color: #236833;
}
.katana h2 {
  color: #194A24;
}
.katana h3 {
  color: #2D8541;
}
.katana table.colored td {
  background: #236833;
}
.katana table.colored:hover td {
  background: #194A24 !important;
  color: #FFFFFF;
}
.katana table.colored-two:hover td a,
.katana table.colored-two td a:visited,
.katana table.colored-two:active td a {
  color: #FFFFFF !important;
}
.katana table.colored-two td {
  background: #194A24;
}
.katana table.colored-two:hover td {
  background: #2D8541 !important;
  color: #FFFFFF;
}
.katana table.colored-two:hover td a,
.katana table.colored-two td a:visited,
.katana table.colored-two:active td a {
  color: #FFFFFF !important;
}
.katana table.colored-three:hover td a,
.katana table.colored-three td a:visited,
.katana table.colored-three:active td a {
  color: #FFFFFF !important;
}
.katana table.colored-three td {
  background: #37A350;
}
.katana table.colored-three:hover td {
  background: #4FC266 !important;
  color: #FFFFFF;
}
.katana table.colored-three:hover td a,
.katana table.colored-three td a:visited,
.katana table.colored-three:active td a {
  color: #FFFFFF !important;
}
.katana .footer {
  background: #37A350;
}
.katana .intro-colored {
  background: #236833 !important;
}
.katana .intro-colored table.button td,
.katana .intro-colored table.button td a,
.katana .intro-colored table.tiny-button td,
.katana .intro-colored table.small-button td,
.katana .intro-colored table.medium-button td,
.katana .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #236833 !important;
  padding: 8px 0 !important;
}
.katana .intro-colored table.colored-three:hover td a,
.katana .intro-colored table.colored-three td a:visited,
.katana .intro-colored table.colored-three:active td a {
  color: #236833 !important;
}
.katana .intro-colored h1, .katana .intro-colored h2, .katana .intro-colored h3, .katana .intro-colored h4 {
  color: #7AFF96 !important;
}
.katana .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.plugins {
  background: #717171;
}
.plugins h1 {
  color: #575859;
}
.plugins h2 {
  color: #4A4B4C;
}
.plugins h3 {
  color: #656565;
}
.plugins table.colored td {
  background: #575859;
}
.plugins table.colored:hover td {
  background: #4A4B4C !important;
  color: #FFFFFF;
}
.plugins table.colored-two:hover td a,
.plugins table.colored-two td a:visited,
.plugins table.colored-two:active td a {
  color: #FFFFFF !important;
}
.plugins table.colored-two td {
  background: #4A4B4C;
}
.plugins table.colored-two:hover td {
  background: #656565 !important;
  color: #FFFFFF;
}
.plugins table.colored-two:hover td a,
.plugins table.colored-two td a:visited,
.plugins table.colored-two:active td a {
  color: #FFFFFF !important;
}
.plugins table.colored-three:hover td a,
.plugins table.colored-three td a:visited,
.plugins table.colored-three:active td a {
  color: #FFFFFF !important;
}
.plugins table.colored-three td {
  background: #717171;
}
.plugins table.colored-three:hover td {
  background: #959595 !important;
  color: #FFFFFF;
}
.plugins table.colored-three:hover td a,
.plugins table.colored-three td a:visited,
.plugins table.colored-three:active td a {
  color: #FFFFFF !important;
}
.plugins .footer {
  background: #717171;
}
.plugins .intro-colored {
  background: #575859 !important;
}
.plugins .intro-colored table.button td,
.plugins .intro-colored table.button td a,
.plugins .intro-colored table.tiny-button td,
.plugins .intro-colored table.small-button td,
.plugins .intro-colored table.medium-button td,
.plugins .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #575859 !important;
  padding: 8px 0 !important;
}
.plugins .intro-colored table.colored-three:hover td a,
.plugins .intro-colored table.colored-three td a:visited,
.plugins .intro-colored table.colored-three:active td a {
  color: #575859 !important;
}
.plugins .intro-colored h1, .plugins .intro-colored h2, .plugins .intro-colored h3, .plugins .intro-colored h4 {
  color: #DADADA !important;
}
.plugins .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.general {
  background: #717171;
}
.general h1 {
  color: #575859;
}
.general h2 {
  color: #4A4B4C;
}
.general h3 {
  color: #656565;
}
.general table.colored td {
  background: #575859;
}
.general table.colored:hover td {
  background: #4A4B4C !important;
  color: #FFFFFF;
}
.general table.colored-two:hover td a,
.general table.colored-two td a:visited,
.general table.colored-two:active td a {
  color: #FFFFFF !important;
}
.general table.colored-two td {
  background: #4A4B4C;
}
.general table.colored-two:hover td {
  background: #656565 !important;
  color: #FFFFFF;
}
.general table.colored-two:hover td a,
.general table.colored-two td a:visited,
.general table.colored-two:active td a {
  color: #FFFFFF !important;
}
.general table.colored-three:hover td a,
.general table.colored-three td a:visited,
.general table.colored-three:active td a {
  color: #FFFFFF !important;
}
.general table.colored-three td {
  background: #717171;
}
.general table.colored-three:hover td {
  background: #959595 !important;
  color: #FFFFFF;
}
.general table.colored-three:hover td a,
.general table.colored-three td a:visited,
.general table.colored-three:active td a {
  color: #FFFFFF !important;
}
.general .footer {
  background: #717171;
}
.general .intro-colored {
  background: #575859 !important;
}
.general .intro-colored table.button td,
.general .intro-colored table.button td a,
.general .intro-colored table.tiny-button td,
.general .intro-colored table.small-button td,
.general .intro-colored table.medium-button td,
.general .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #575859 !important;
  padding: 8px 0 !important;
}
.general .intro-colored table.colored-three:hover td a,
.general .intro-colored table.colored-three td a:visited,
.general .intro-colored table.colored-three:active td a {
  color: #575859 !important;
}
.general .intro-colored h1, .general .intro-colored h2, .general .intro-colored h3, .general .intro-colored h4 {
  color: #DADADA !important;
}
.general .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.light {
  background: #B2B2B2;
}
.light h1 {
  color: #575859;
}
.light h2 {
  color: #4A4B4C;
}
.light h3 {
  color: #656565;
}
.light table.colored td {
  background: #575859;
}
.light table.colored:hover td {
  background: #4A4B4C !important;
  color: #FFFFFF;
}
.light table.colored-two:hover td a,
.light table.colored-two td a:visited,
.light table.colored-two:active td a {
  color: #FFFFFF !important;
}
.light table.colored-two td {
  background: #4A4B4C;
}
.light table.colored-two:hover td {
  background: #656565 !important;
  color: #FFFFFF;
}
.light table.colored-two:hover td a,
.light table.colored-two td a:visited,
.light table.colored-two:active td a {
  color: #FFFFFF !important;
}
.light table.colored-three:hover td a,
.light table.colored-three td a:visited,
.light table.colored-three:active td a {
  color: #FFFFFF !important;
}
.light table.colored-three td {
  background: #B2B2B2;
}
.light table.colored-three:hover td {
  background: #959595 !important;
  color: #FFFFFF;
}
.light table.colored-three:hover td a,
.light table.colored-three td a:visited,
.light table.colored-three:active td a {
  color: #FFFFFF !important;
}
.light .footer {
  background: #B2B2B2;
}
.light .intro-colored {
  background: #575859 !important;
}
.light .intro-colored table.button td,
.light .intro-colored table.button td a,
.light .intro-colored table.tiny-button td,
.light .intro-colored table.small-button td,
.light .intro-colored table.medium-button td,
.light .intro-colored table.large-button td {
  background: #FFFFFF;
  color: #575859 !important;
  padding: 8px 0 !important;
}
.light .intro-colored table.colored-three:hover td a,
.light .intro-colored table.colored-three td a:visited,
.light .intro-colored table.colored-three:active td a {
  color: #575859 !important;
}
.light .intro-colored h1, .light .intro-colored h2, .light .intro-colored h3, .light .intro-colored h4 {
  color: #DADADA !important;
}
.light .intro-colored td {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*# sourceMappingURL=main.css.map */
